* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--satu);
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  /* border: 1px solid black; */
}

:root {
  --satu: #071952;
  --dua: #088395;
  --tiga: #37b7c3;
  --empat: #ebf4f6;
  --lima: #025e64;
}
body {
  background-color: var(--empat);
  width: 100%;
}
/* navbar start */
nav {
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tiga);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}
nav .menu {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
nav ul li a {
  display: flex;
  align-items: flex-end;
  scale: 1;
}
nav ul li a:hover {
  transition: all 0.3s;
  scale: 0.9;
  transform: translateZ(-5px);
}
.menu-alter {
  display: none;
}
/* navbar end */

/* Home start */
#home {
  padding-top: 80px;
  display: flex;
  width: 100%;
  height: 85vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home img {
  margin-bottom: 10px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid var(--dua);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}
#home .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}
#home .info p {
  display: inline-block;
  background-color: rgba(55, 183, 195, 0.5);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 3px 7px;
}
.gradasi {
  width: 100%;
  height: 15vh;
  background: linear-gradient(to bottom, var(--empat), var(--tiga));
}
/* #aboutme::before {
    content: "";
    width: 100%;
    height: 100px;
    background:linear-gradient(to bottom, var(--empat), var(--tiga));
} */
/* Home end */

/* about me start */
#aboutme {
  width: 100%;
  padding-top: 50px;
  background-color: var(--tiga);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#aboutme h3 {
  width: 20%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid var(--lima);
  margin-bottom: 30px;
}
#aboutme .container {
  align-self: center;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#aboutme .container .foto {
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
}
#aboutme .container .foto img {
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  width: 300px;
}
#aboutme .container .foto img:hover {
  transition: all 0.3s;
  scale: 1.1;
}
#aboutme .container .infopribadi ul li {
  line-height: 40px;
}
#aboutme .container .infopribadi ul li p span {
  font-weight: 650;
}
#aboutme .edukasi {
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}
#aboutme .edukasi li {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 0;
}
#aboutme .edukasi .tahun::after {
  content: "";
  position: absolute;
  top: 5px;
  height: 80%;
  left: 10px;
  border-left: 1px solid var(--dua);
}
#aboutme .edukasi li .tahun {
  display: flex;
  align-items: flex-end;
  width: 140px;
  margin-bottom: 10px;
  justify-content: space-between;
}
#aboutme .edukasi li .icon {
  background-color: var(--dua);
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
#aboutme .edukasi li .tahun .year {
  background-color: var(--dua);
  padding: 3px 7px;
  border-radius: 20px;
}
#aboutme .edukasi li .info_sekolah {
  padding-left: 40px;
}
#aboutme .edukasi li .info_sekolah h4 {
  margin-bottom: 10px;
}
#aboutme::after {
  content: "";
  top: 5vh;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  background: linear-gradient(to bottom, var(--tiga), var(--empat));
}
/* about me end */

/* portofolio start */
#portofolio {
  width: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
#portofolio h3 {
  width: 20%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid var(--lima);
  margin-bottom: 30px;
}
#portofolio .portofolioku {
  display: flex;
  width: 100%;
  margin: 0 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#portofolio .portofolioku .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: fit-content;
  border-radius: 20px;
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px 0;
  margin: 10px 20px;
  background-color: var(--tiga);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}
#portofolio .portofolioku .card .subcard {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}
#portofolio .portofolioku .card #menunggu::before{
  content: 'In progress....';
  position: absolute;
  display: inline-block;
  padding-top: 60%;
  padding-left: 9%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: start;
  width: 100%;
  height: 100%;
  color: var(--empat);
}
#portofolio .portofolioku .card p {
  border-top: 1px solid var(--lima);
  width: 90%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#portofolio .portofolioku .card .subcard img {
  width: 100%;
}
#portofolio .portofolioku .card .subcard img:hover {
  scale: 1.2;
  transition: all 0.3s;
}
#portofolio::after {
  content: "";
  position: relative;
  top: 50px;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, var(--empat), var(--tiga));
}

/* portofolio end */

/* contact start */
#contact {
  width: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tiga);
}
#contact h3 {
  width: 20%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid var(--lima);
  margin-bottom: 30px;
}
#contact .input {
  display: flex;
  font-weight: 700;
  flex-direction: column;
  margin: 10px 0;
}
#contact .input input {
  border-radius: 20px;
  border: none;
  width: 300px;
  height: 30px;
  padding-left: 15px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--empat);
}
#contact .input input:focus,
#contact .input textarea {
  outline: none;
}
#contact .input textarea {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  background-color: var(--empat);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  resize: none;
}
#contact label {
  margin-bottom: 10px;
}
#contact .submit button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90px;
  height: 40px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#contact .submit button:hover {
  transition: all 0.3s;
  scale: 0.9;
}
/* contact end */

/* footer start */
#contact footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  background: rgba(235, 244, 246, 0.5);
}
/* footer end */

/* scroll animation */
.autoshow {
  animation: animasiscroll;
  animation-timeline: view(85% 0);
}
@keyframes animasiscroll {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* scroll animation end */

/* break point */
@media screen and (max-width: 1100px) {
  nav .menu {
    width: 45%;
  }
  #aboutme .container {
    width: 75%;
  }
  #aboutme .container .foto,
  #aboutme .container .foto img {
    width: 250px;
  }
  #aboutme .container .infopribadi ul li {
    font-size: 80%;
    line-height: 30px;
  }
}
@media screen and (max-width: 967px) {
  nav .menu {
    width: 50%;
  }
  #aboutme .container {
    width: 80%;
  }
  #aboutme .container .foto,
  #aboutme .container .foto img {
    width: 225px;
  }
  #aboutme .container .infopribadi ul li {
    font-size: 75%;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  nav ul li .submenu {
    display: none;
  }
  #aboutme .container .foto,
  #aboutme .container .foto img {
    width: 180px;
  }
  #aboutme .container .infopribadi ul li {
    font-size: 75%;
    line-height: 20px;
  }
}

/* hp */
@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
  .menu-alter {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    top: 0;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 250px;
    z-index: 1000;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(
      120deg,
      rgba(165, 110, 236, 0.3),
      rgba(16, 23, 58, 0.3)
    );
    backdrop-filter: blur(20px);
  }
  .menu-alter li a span:hover {
    transition: all 0.3s;
    scale: 0.9;
    transform: translateZ(3px);
  }
  #aboutme {
    padding-top: 0;
  }
  #aboutme h3 {
    width: 40%;
  }
  #aboutme .container {
    flex-direction: column;
  }
  #aboutme .container .foto {
    width: 170px;
  }
  #aboutme .container .foto img {
    width: 170px;
  }
  #aboutme .container .infopribadi {
    margin-top: 20px;
  }
  #aboutme .container .infopribadi ul li {
    line-height: 20px;
    font-size: 75%;
  }
  #aboutme .edukasi li {
    font-size: 75%;
  }
  #portofolio h3 {
    width: 40%;
  }
  #portofolio .portofolioku .card {
    width: 400px;
    height: fit-content;
    font-size: 75%;
  }
  #portofolio .portofolioku .card .subcard {
    width: 275px;
    height: 190px;
  }
  #portofolio {
    padding-top: 0;
  }

  #contact {
    padding-top: 0;
  }
  #contact h3 {
    width: 40%;
  }
  #contact .input input {
    width: 200px;
    height: 30px;
    font-size: 75%;
  }
  #contact .input textarea {
    width: 300px;
    height: 400px;
  }
  #contact .submit button {
    font-size: 75%;
    margin-top: 0;
  }
  footer {
    font-size: 75%;
  }
}
